@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
  display: inline-block;
}

.App {
  background-color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hero-right {
  float: right;
}

.filter-file {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.file-type {
  margin-right: 10px;
}

.file-size {
  margin-left: 10px;
}

.selected-sort:hover {
  color: red; /* Đổi màu chữ khi hover */
  cursor: pointer; /* Thay đổi con trỏ thành hình tay khi hover */
  background-color: #f0f0f0; /* Thêm màu nền khi hover */
}

.add-file {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.add-from-url {
  margin-left: 10px;
}

.ant-upload-hint {
  padding-top: 30px;
}

.image-element:hover {
  background-color: aqua;
}

.file-item:hover {
  transform: scale(1.01); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}
